.about
{
    background-color: #375623;
    height: 400px;
    width: 100%;
    margin: 150px 0;
}
.about__filler
{
    width: 20%;
    position: relative;
    top: -20px;
    float: left;
    margin: auto 20px
}
.about_textBlock
{
    padding: 20px;
    color: white;
}

/* mediaqueries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    body {
        background-color: black;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{

}