.about
{
    background-color: #375623;
    height: 400px;
    width: 100%;
    margin: 150px 0;
}
.about__filler
{
    width: 20%;
    position: relative;
    top: -20px;
    float: left;
    margin: auto 20px
}
.about_textBlock
{
    padding: 20px;
    color: white;
}

/* mediaqueries */
/* Mobile M */
@media only screen and (min-width: 375px) 
{
    .about_textBlock {
        
    }
}

/* Mobile L */
@media only screen and (min-width: 425px) 
{
    body {
        background-color: blue;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) 
{
    body {
        background-color: purple;
    }
}

/* Laptop */
@media only screen and (min-width: 1024px) 
{
    body {
        background-color: green;
    }
}