.about
{
    background-color: #375623;
    height: 400px;
    width: 100%;
    margin: 150px 0;
}
.about__filler
{
    width: 20%;
    position: relative;
    top: -20px;
    float: left;
    margin: auto 20px
}
.about_textBlock
{
    padding: 20px;
    color: white;
}

/* mediaqueries */
 /* Mobile M */
 @media only screen and (min-width: 375px) 
 {
     .about
     {
         background-color: #375623;
         height: 800px;
         width: 100%;
         margin: 150px 0;
     }
     .about_textBlock { 
         padding: 20px;
         color: white;
 
     }
 }
 
 /* Mobile L */
 @media only screen and (min-width: 425px) 
 {
     .about
     {
         background-color: #375623;
         height: 750px;
         width: 100%;
         margin: 150px 0;
     }
     .about_textBlock {
         padding: 20px;
         color: white;
 
     }
 }
 
 /* Tablet */
 @media only screen and (min-width: 768px) 
 {
     .about
     {
         background-color: #375623;
         height: 500px;
         width: 100%;
         margin: 150px 0;
     }
     .about_textBlock {
         padding: 20px;
         color: white;
 
     }
 }
 
 /* Laptop */
 @media only screen and (min-width: 1024px) 
 {
     .about
     {
         background-color: #375623;
         height: 450px;
         width: 100%;
         margin: 150px 0;
     }
     .about_textBlock {
         padding: 20px;
         color: white;
 
     }