.product-container {
    margin: 150px auto;
    display: flex;
    background-color: black;
    width: 80%;
}
.product-item {
    background-color: #f1f1f1;
    margin: 15px auto;
    width: 300px;
    height: 400px;
    font-size: 30px;
}
.product-price {
    background-color: white;
    opacity: .5;

}
img {
    width: 250px;
}