.product-container {
    margin: 100px auto;
    display: flex;
    background-color: black;
    width: 85%;
}
.product-item {
    background-color: #f1f1f1;
    margin: 10px auto;
    width: 23%;
    height: 320px;
    font-size: 30px;
}
.product-image {
    width: 245px;
}
.product-price {
    background-color: #f1f1f1;
    opacity: .5;
    position: absolute;
    bottom: 16px;
}